<h1>Listing books</h1>

<% @books.each do |book| %>
  <div id="box">
    <div id="box_title"><h5><%= book.title %></h5></div>
    <%= book.description %>
  </div>
  <br />
<% end %>

<br />

<%# link_to 'New Book', new_book_path %>
